/* header.component.css */
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #c1a5a5;
    color: rgb(232, 33, 33);
  }
  
  .app-header .logo img {
    height: 40px;
  }
  
  .app-header .nav-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .app-header .nav-links li {
    display: inline;
    margin: 0 15px;
  }
  
  .app-header .nav-links a {
    color: rgb(226, 31, 31);
    text-decoration: none;
    font-weight: bold;
  }
  
  .app-header .nav-links a:hover {
    text-decoration: underline;
  }
  